@import '/src/sass/abstract/variables';
@import '/src/sass/abstract/utilities';

.product-details {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include gradient();
  overflow: hidden;

  .product-name-bk-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .3;
      @include gradient();
      z-index: 1;
    }

    .product-name-bk {
      color: rgba(255, 255, 255, .1);
      font-family: $bebasFontface;
      font-size: $fontSizeProductBkName;
      letter-spacing: 2rem;
      transform: scaleX(.6) translateY(3rem);
      font-weight: 400;
      white-space: nowrap;
      text-transform: uppercase;
      text-shadow: 0 0 10rem rgba(0, 0, 0, .2);
      text-overflow: ellipsis;
    }
  }

  .stripes-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .stripes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr auto .3fr;
    gap: 1rem;
    width: 170px;
    height: 100%;
    margin: auto;
    
    .stripe {
      font-size: $fontSizeNormal;
      background-color: $white;

      &:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        background-color: transparent;
        grid-column: 1/-1;
        user-select: none;
      }
    }
  }

  &__content-grid {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: 1fr auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 7.5rem;
    z-index: 1;
  }
}