<main class="product-details">
  <div class="background-decoration">
    <div class="product-name-bk-overlay">
      <h1 class="product-name-bk">{{ product.name }}</h1>
    </div>
    <div class="stripes-overlay">
      <div class="stripes-container">
        <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7];" 
          class="stripe">
          <ng-container *ngIf="item === 4">
            {{ product.name }}
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <section class="product-details__content-grid">
    <adi-product-media-menu
      [productImages]="product.media.images">
    </adi-product-media-menu>

    <adi-product-content [product]="product">
    </adi-product-content>

    <adi-product-variant-menu
      [productVariants]="product.variants">
    </adi-product-variant-menu>

    <adi-footer-compact></adi-footer-compact>
  </section>
</main>