@import '/src/sass/abstract/variables';
@import '/src/sass/abstract/utilities';

:host {
  display: block;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
}

.support-btn {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);

  .icon {
    width: 1.1rem;
    height: 1.1rem;
  }
}
