@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: 'Movie Letters';
  font-weight: 400;
  src: url('../../assets/fonts/movie_letters/MovLette.ttf');
}

@font-face {
  font-family: 'Universal';
  font-weight: 400;
  src: url('../../assets/fonts/universal_accreditation/Uni_acc.ttf');
}