.wrapper {
  max-width: 88rem;
  margin: auto;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 3.5rem;
  color: $white;
  font-size: $fontSizeSmaller;
  border: 1px solid $darkGrey;
  border-radius: 2rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;

  &:focus-visible {
    box-shadow: 0 0 0 2px $darkGrey;
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  &-circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }

  &-filled,
  &-white,
  &-black {
    &::before {
      opacity: 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
      transition: opacity $easeInOutCirc;
    }

    &:hover:not(:disabled):before {
      opacity: 1;
    }
  }

  &-filled {
    color: $white;
    background-color: $darkGrey;
  }

  &-white {
    background-color: $white;
    border-color: $white;
  }

  &-black {
    background-color: $darkGrey;
    border-color: $darkGrey;
  }
}

.icon {
  display: block;
  width: $fontSizeRegular;
  height: $fontSizeRegular;
  object-fit: contain;
}